modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PerformanceFrameworkBuild"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SimpleTestRun"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MultiProtocolTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GraphQLApiTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CustomHttpTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FrameworkBuild"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HttpConfigTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CoreTests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GraphQLConfigTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JdbcTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JdbcYamlConfigTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SoapYamlConfigTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MonitoringStack"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GraphQLPlaceholderTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CountriesApiTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RickAndMortyApiTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "K6HttpTests"

[[workflows.workflow]]
name = "PerformanceFrameworkBuild"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd PerformanceAutomationFramework && mvn clean compile"

[[workflows.workflow]]
name = "SimpleTestRun"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.SimpleTest"

[[workflows.workflow]]
name = "MultiProtocolTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.MultiProtocolTest"

[[workflows.workflow]]
name = "GraphQLApiTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.GraphQLApiTest"

[[workflows.workflow]]
name = "CustomHttpTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd PerformanceAutomationFramework && mvn test -Dtest=CustomHttpTest"

[[workflows.workflow]]
name = "FrameworkBuild"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn clean compile"

[[workflows.workflow]]
name = "HttpConfigTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.HttpYamlConfigTest"

[[workflows.workflow]]
name = "CoreTests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.core.**"

[[workflows.workflow]]
name = "GraphQLConfigTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.GraphQLYamlConfigTest"

[[workflows.workflow]]
name = "JdbcTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.SimpleJdbcTest"

[[workflows.workflow]]
name = "JdbcYamlConfigTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.JdbcYamlConfigTest"

[[workflows.workflow]]
name = "SoapYamlConfigTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.examples.SoapYamlConfigTest"

[[workflows.workflow]]
name = "MonitoringStack"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-monitoring.sh"

[[workflows.workflow]]
name = "GraphQLPlaceholderTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.graphql_tests.GraphQLPlaceholderApiTest"

[[workflows.workflow]]
name = "CountriesApiTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.graphql_tests.CountriesApiTest"

[[workflows.workflow]]
name = "RickAndMortyApiTest"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.graphql_tests.RickAndMortyApiTest"

[[workflows.workflow]]
name = "K6HttpTests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn test -Dtest=io.perftest.http_tests.**"

[deployment]
run = ["sh", "-c", "python setup_performance_framework.py"]

[[ports]]
localPort = 9270
externalPort = 80
